.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  background-color: transparent;
  transition: background-color 0.5s ease;
  text-decoration: none;
}

.btn-mobile {
  font-size: 1.5rem;
}

.btn-default {
  background-color: var(--color-primary-1);
  color: var(--color-neutral-0);

  &:hover {
    background-color: var(--color-primary-2);
  }
}

.btn-outlined {
  color: var(--color-primary-1);
  border: 2px solid var(--color-primary-1);
  background-color: transparent;

  &:hover {
    background-color: var(--color-primary-1);
    color: var(--color-neutral-0);
  }
}

.title {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-neutral-8);
  position: relative;

  &::before {
    content: "";
    display: block;
    width: 60px;
    height: 4px;
    background-color: var(--color-primary-1);
    border-radius: 15px;
    position: absolute;
    bottom: 0;
    transition: all 0.3s ease;
  }

  &:hover::before {
    content: "";
    width: 100%;
    transform: translateX(5px);
  }
}